### Variables

Python is object oriented. Everything is assigned its own unique identifier

In [2]:
a = 'xyz'
id(a) #Returns the memory location of variable 'a'

140678591054824

In [12]:
b = [1,2,3]
id(b)

140678591081160

In [13]:
#Change b's value; it's ID changes...
b = a
id(b)

140678591054824

In [ ]:
... = ...

In [ ]:
... = ...
b.pop()

In [ ]:
x = a
a.upper()

### Data types

In [16]:
t = ('x', 3, True)
type(t)

tuple

In [17]:
t + ("a", 5)

('x', 3, True, 'a', 5)

In [19]:
"x" in t

True

In [20]:
##Exercise 1
myList = [1,2,3,4,6,7]
5 in myList

False

In [28]:
[2,3,4] in myList

False

In [ ]:
## Exercise 2
...

### Data structures

In [30]:
t = 'cat',
type(t)

tuple

In [32]:
l = [3.14, 'xyz', t]
type(l)

list

In [33]:
l[0]

3.14

In [35]:
## Exercise 2
myList = [0.0, 2, ("c","a","t")]
myList[-2:]

[2, ('c', 'a', 't')]

In [ ]:
s = set(...)

In [ ]:
toons = {'Snowy':..., ..., ...}

In [ ]:
... = 'dog'

In [ ]:
## Exercise 3
...

### Iteration

In [ ]:
letters = [...]

In [ ]:
CAPS = {...}

### Flow control

In [ ]:
squares = []
for ... in range(1, 5):
    ...
    squares ...
... = len(squares)

In [ ]:
contacts = [
    {'name':..., 'phone':'555-111-2222'},
    {'name':..., 'phone':'555-333-4444'},
    ]
for ...:
    if ...:
        print(...['phone'])
    else:
        print(...['name'])

In [ ]:
## Exercise 4
...

### Function definition

In [ ]:
... add_two(x):
    ... = x + 2
    return ...

In [ ]:
def ...:
    result = ...
    return result

In [ ]:
## Exercise 5
...

In [ ]:
toons....
  ...,
  'Bob':'sponge',
  'Bugs': 'rabbit',
  })

### Pandas

In [ ]:
...
animals = ...("data/animals.csv")

In [ ]:
animals....

In [ ]:
animals[...].describe()

In [ ]:
animals_dm = animals.loc[...]

In [ ]:
dm_stats = (
  animals_dm
  ...
  ['hindfoot_length', 'weight']
  ...
  )

In [ ]:
## Exercise 6
...

### SQLAlchemy

In [ ]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine

# Create the canvas for a map between Python objects and database records
Base = automap_base()

# Identify database, create the map from the schema, and prepare to create sessions
engine = create_engine('postgresql+pygresql://@localhost/portal')
Base.prepare(engine, reflect=True)
Session = sessionmaker(bind=engine)

In [ ]:
Plots = Base.classes['plots']
... = Base.classes[...]
...

In [ ]:
plot = Plots(treatment='Control')

In [ ]:
... = Session()
session....
session....

In [ ]:
query = ....query(Species).filter_by(id='RO')
species = ....one()

In [ ]:
plot_a = session.query(Plots).filter_by(id=1).one()
plot_b = session.query(Plots).filter_by(id=19).one()

In [ ]:
query = session.query(Animals).filter_by(year=2002, month=1, day=12)
animals_a = query.filter(...).all()
animals_b = query.filter(...).all()

In [ ]:
for animal in animals_a:
    ...
for animal in animals_b:
    ...

In [ ]:
...
animals_a[0].plots is plot_b

In [ ]:
query = (session
    .query(Animals)
    .join(Species)
    .filter_by(taxa='Rodent')
    )
rodents = ...