### Variables

Python is object oriented. Everything is assigned its own unique identifier

In [2]:
a = 'xyz'
id(a) #Returns the memory location of variable 'a'

140678591054824

In [12]:
b = [1,2,3]
id(b)

140678591081160

In [13]:
#Change b's value; it's ID changes...
b = a
id(b)

140678591054824

In [ ]:
... = ...

In [ ]:
... = ...
b.pop()

In [ ]:
x = a
a.upper()

### Data types

In [16]:
t = ('x', 3, True)
type(t)

tuple

In [17]:
t + ("a", 5)

('x', 3, True, 'a', 5)

In [19]:
"x" in t

True

In [20]:
##Exercise 1
myList = [1,2,3,4,6,7]
5 in myList

False

In [28]:
[2,3,4] in myList

False

In [ ]:
## Exercise 2
...

### Data structures

In [30]:
t = 'cat',
type(t)

tuple

In [32]:
l = [3.14, 'xyz', t]
type(l)

list

In [33]:
l[0]

3.14

In [35]:
## Exercise 2
myList = [0.0, 2, ("c","a","t")]
myList[-2:]

[2, ('c', 'a', 't')]

In [37]:
s = set(l)
s

{'xyz', ('cat',), 3.14}

In [39]:
    s.difference({3.14})

{'xyz', ('cat',)}

In [40]:
toons = {'Snowy':'dog', 'Garfield': 'cat', 'Bugs': 'bunny'}
toons

{'Bugs': 'bunny', 'Garfield': 'cat', 'Snowy': 'dog'}

In [42]:
toons['Pluto'] = 'dog'
toons

{'Bugs': 'bunny', 'Garfield': 'cat', 'Pluto': 'dog', 'Snowy': 'dog'}

In [ ]:
## Exercise 3
...

### Iteration

In [45]:
letters = [x for x in "ABCDE"]
letters

['A', 'B', 'C', 'D', 'E']

In [46]:
CAPS = {x:x.upper() for x in "abcde"}
CAPS

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E'}

### Flow control

squares = []
for x in range(1, 5):
    x2 = x * x
    squares.append(x2)
lenX = len(squares)
lenX

In [53]:
?squares.index

In [ ]:
contacts = [
    {'name':..., 'phone':'555-111-2222'},
    {'name':..., 'phone':'555-333-4444'},
    ]
for ...:
    if ...:
        print(...['phone'])
    else:
        print(...['name'])

In [ ]:
## Exercise 4
...

### Function definition

In [ ]:
... add_two(x):
    ... = x + 2
    return ...

In [ ]:
def ...:
    result = ...
    return result

In [ ]:
## Exercise 5
...

In [ ]:
toons....
  ...,
  'Bob':'sponge',
  'Bugs': 'rabbit',
  })

### Pandas

In [51]:
import pandas as pd
animals = pd.read_csv("data/animals.csv")

In [57]:
animals.dtypes

id                   int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [62]:
#Get specific rows (Note it's 1-indexed)
animals.loc[2:10]

    id  month  day  year  plot_id species_id sex  hindfoot_length  weight
2    4      7   16  1977        7         DM   M             36.0     NaN
3    5      7   16  1977        3         DM   M             35.0     NaN
4    6      7   16  1977        1         PF   M             14.0     NaN
5    7      7   16  1977        2         PE   F              NaN     NaN
6    8      7   16  1977        1         DM   M             37.0     NaN
7    9      7   16  1977        1         DM   F             34.0     NaN
8   10      7   16  1977        6         PF   F             20.0     NaN
9   11      7   16  1977        5         DS   F             53.0     NaN
10  12      7   16  1977        7         DM   M             38.0     NaN

In [63]:
#get specific rows by *index* location (last item is not inclusive)
animals.iloc[2:10]

   id  month  day  year  plot_id species_id sex  hindfoot_length  weight
2   4      7   16  1977        7         DM   M             36.0     NaN
3   5      7   16  1977        3         DM   M             35.0     NaN
4   6      7   16  1977        1         PF   M             14.0     NaN
5   7      7   16  1977        2         PE   F              NaN     NaN
6   8      7   16  1977        1         DM   M             37.0     NaN
7   9      7   16  1977        1         DM   F             34.0     NaN
8  10      7   16  1977        6         PF   F             20.0     NaN
9  11      7   16  1977        5         DS   F             53.0     NaN

In [64]:
#Get specific rows and columns
animals.loc[2:10, ("day","year")]

    day  year
2    16  1977
3    16  1977
4    16  1977
5    16  1977
6    16  1977
7    16  1977
8    16  1977
9    16  1977
10   16  1977

In [67]:
#Get rows AND cols by index
animals.iloc[0:5,1:3]

   month  day
0      7   16
1      7   16
2      7   16
3      7   16
4      7   16

In [69]:
animals['day'].describe()

count    35549.000000
mean        16.105966
std          8.256691
min          1.000000
25%          9.000000
50%         16.000000
75%         23.000000
max         31.000000
Name: day, dtype: float64

In [70]:
#Select all columns where rows have a species_id = DM
animals_dm = animals.loc[animals['species_id'] == 'DM',]
animals_dm.head()

   id  month  day  year  plot_id species_id sex  hindfoot_length  weight
1   3      7   16  1977        2         DM   F             37.0     NaN
2   4      7   16  1977        7         DM   M             36.0     NaN
3   5      7   16  1977        3         DM   M             35.0     NaN
6   8      7   16  1977        1         DM   M             37.0     NaN
7   9      7   16  1977        1         DM   F             34.0     NaN

In [72]:
#Aggregation of records : collapse on sex, keeping the footlenght and weight
dm_stats = (
  animals_dm
  .groupby('sex')
  ['hindfoot_length', 'weight']
  .mean()
  )
dm_stats.head()

     hindfoot_length     weight
sex
F          35.712692  41.609685
M          36.188229  44.353134

In [ ]:
## Exercise 6
...

### SQLAlchemy

In [76]:
import pip
pip.main(['install','pgdb'])

Collecting pgdb
  Downloading pgdb-0.0.5.tar.gz
Collecting psycopg2>=2.5.2 (from pgdb)
  Downloading psycopg2-2.7.1-cp35-cp35m-manylinux1_x86_64.whl (2.7MB)
Building wheels for collected packages: pgdb
  Running setup.py bdist_wheel for pgdb: started
  Running setup.py bdist_wheel for pgdb: finished with status 'done'
  Stored in directory: /home/johnfay/.cache/pip/wheels/69/0c/16/0fc771e51dfbed5b908bbcf7c552fc37e14a8b7956215b43de
Successfully built pgdb
Installing collected packages: psycopg2, pgdb
Successfully installed pgdb-0.0.5 psycopg2-2.7.1

0

In [1]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine

# Create the canvas for a map between Python objects and database records
Base = automap_base()

# Identify database, create the map from the schema, and prepare to create sessions
engine = create_engine('postgresql+pygresql://@localhost/portal')
Base.prepare(engine, reflect=True)
Session = sessionmaker(bind=engine)

AttributeError: module 'pgdb' has no attribute 'paramstyle'

In [ ]:
Plots = Base.classes['plots']
... = Base.classes[...]
...

In [ ]:
plot = Plots(treatment='Control')

In [ ]:
... = Session()
session....
session....

In [ ]:
query = ....query(Species).filter_by(id='RO')
species = ....one()

In [ ]:
plot_a = session.query(Plots).filter_by(id=1).one()
plot_b = session.query(Plots).filter_by(id=19).one()

In [ ]:
query = session.query(Animals).filter_by(year=2002, month=1, day=12)
animals_a = query.filter(...).all()
animals_b = query.filter(...).all()

In [ ]:
for animal in animals_a:
    ...
for animal in animals_b:
    ...

In [ ]:
...
animals_a[0].plots is plot_b

In [ ]:
query = (session
    .query(Animals)
    .join(Species)
    .filter_by(taxa='Rodent')
    )
rodents = ...